@media screen and (max-width: 896px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .price {
    margin-bottom: 0;
  }
  .price__table {
    border: 0;
    width: 100%;
  }

  .price__table th {
    display: block;
    border-right: none;
  }

  .price__table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .price__table tr {
    display: block;
    margin-bottom: 0.625em;
  }
  .price__table td {
    border-bottom: 1px solid #bbb;
    display: block;
    font-size: 0.8em;
    text-align: right;
    position: relative;
    padding: 0.625em 0.625em 0.625em 4em;
  }
  .price__table td::before {
    font-weight: bold;
    position: absolute;
    left: 10px;
    color: #0c2e5a;
  }
  .price__table td:last-child {
    border-bottom: 0;
  }
  table.price__table tbody th {
    color: #fff;
    background: linear-gradient(135deg, #00aeff, #0c2e5a);
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}

/* ヘッダーナビ　レスポンシブ用 */
@media(max-width: 800px) {
  .header_container__navbtn_menu a {
    width: 100%;
  }
  
  .header_container {
    position: relative;
  }

  .header_container__navbtn_menu {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: #0c2e5a;
  }

  .header_container__navbtn_menu img{
    margin-top: 8px;
  }


  .header_container__navbtn_menu p {
    display: block;
    font-size: 8px;
    transform: scale(0.8);
    margin-top: 7px;
    color: #fff;
  }  

  .header_container__navbtn_menu a:hover {
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
  }
}