@media screen and (max-width: 896px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .price {
    margin-bottom: 0;
  }
  .price__table {
    border: 0;
    width: 90%;
  }

  .service--contact {
    margin-top: 2em;
  }

  .price__table th {
    display: block;
    border-right: none;
  }

  .price__table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .price__table tr {
    display: block;
    margin-bottom: 0.625em;
  }
  .price__table td {
    border-bottom: 1px solid #bbb;
    display: block;
    font-size: 0.8em;
    text-align: right;
    position: relative;
    padding: 0.625em 0.625em 0.625em 4em;
  }
  .price__table td::before {
    font-weight: bold;
    position: absolute;
    left: 10px;
    color: #0c2e5a;
  }
  .price__table td:last-child {
    border-bottom: 0;
  }
  table.price__table tbody th {
    color: #fff;
    background: linear-gradient(135deg, #00aeff, #0c2e5a);
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}

/* ヘッダーナビ　レスポンシブ用 */
@media screen and (max-width: 800px) {
  header .header_container {
    position: relative;
    height: 50px;
  }

  .header_container__nav {
    margin-right: 0;
  }

  .header_container__logo img {
    width: 110px;
    margin: 0px 30px;
  }

  .navbtn {
    position: relative;
    z-index: 10;
    justify-content: center;
    display: flex;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #0c2e5a;
    border: none;
    cursor: pointer;
  }

  .navbtn i {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    transition: transform 0.5s, opacity 0.5s;
  }

  .navbtn i:nth-child(1) {
    top: 10px;
  }

  .navbtn i:nth-child(2) {
    top: -10px;
    bottom: 0;
    margin: auto;
  }

  .navbtn i:nth-child(3) {
    bottom: 20px;
  }

  .navbtn_txt_menu {
    position: absolute;
    color: #fff;
    font-size: 10px;
    bottom: 5px;
  }

  .navbtn_txt_close {
    color: transparent;
  }

  .navbtn.active i:nth-child(1) {
    transform: translateY(9px) rotate(-45deg);
  }

  .navbtn.active i:nth-child(2) {
    opacity: 0;
  }

  .navbtn.active i:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
  }

  .navbtn.active {
    background-color: #fff;
  }

  .navbtn.active i {
    background-color: #0c2e5a;
  }

  .navbtn.active .navbtn_txt_close {
    position: absolute;
    color: #0c2e5a;
    font-size: 10px;
    bottom: 5px;
  }

  .navbtn.active {
    position: fixed;
  }

  .header_container__nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background-color: #0c2e5a;
    transform: translateX(100%);
    transition: all 0.6s;
  }

  .header_container__nav.active {
    right: 0px;
  }

  .header_container__nav ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .header_container__nav a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }

  .header_container__nav li:first-child {
    padding: 80px 0px 0px 0px;
  }

  .header_container__nav li:not(:first-child) {
    padding: 40px 0px 0px 0px;
  }

  #menu-item-19 span.material-icons-outlined,
  #menu-item-437 span.material-icons-outlined,
  #menu-item-191 span.material-icons-outlined,
  #menu-item-49 span.material-icons-outlined {
    vertical-align: middle;
    margin-right: 30px;
    font-size: 40px;
  }

  .header_container_sns__follow__icon img {
    height: 50px;
    margin: 50px 25px 50px 25px;
  }

  .header_container_sns__follow__icon{
    position: absolute;
    display: flex;
    align-items: center;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  #menu-item-36 a {
    font-size: 15px;
    padding: 10px;
    border: 1px solid #fff;
  }

  #menu-item-36 a:hover {
    background-color: #fff;
    color: #0c2e5a;
  }

  /* このクラスを、jQueryで付与・削除する */
  .header_container__nav.active {
    transform: translateX(0%);
  }

  .special-textarea {
    width: 100%;
  }

  .contact-submit span.ajax-loader {
    display: none;
  }

  .work__list--ul {
    display: block;
  }

  .work__list {
    width: 60%;
    margin: 0 auto;
  }

  .greet__top {
    display: block;
    padding: 1em 2em 6em;
  }

  .greet__pic {
    margin-bottom: 1em;
  }

  .member__voice {
    display: block;
  }

  .member__voice--comment {
    width: 100%;
    padding-top: 30px;
  }

  .member__voice--comment2 {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .panel {
    padding: 2.5em 2em 1em;
  }
}

@media screen and (max-width: 800px){
  .contact__btn {
    font-size: 18px !important;
  }

  .m-side-10 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .member__voice {
    width: 100% !important;
  }

  .about__h1 {
    padding: 1em 1.5em !important;
    margin-left: 10px;
    margin-right: 10px;
  }

  .sp-block {
    display: block;
  }

  .services{
    margin-top:250px;
  }

  .service__text{
    padding:20px;
    width:65vw;
  }

.service__top{
    margin-bottom:20px;
  }
  
  .service__number{
    font-size:23px;
    padding:13px 10px 10px 0;
  }

  .service__ja{
    font-size:23px;
  }
  
  .service__en,.service__body{
    font-size:14px;
  }
  
  .service__web{
    margin-top:150px;
  }
  
  .service__lgbt{
    margin-bottom:150px;
  }
  
  .service__web .service__text::before,.service__lgbt .service__text::before{
    width: 138%;
    height:135%;
    top:-27%;
    left:-30%;
    z-index:-2;
  }

  .service__media .service__text::before{
    width: 138%;
    height:135%;
    top:-27%;
    left:-8%;
    z-index:-2;
  }

  .service__web .service__text::after,.service__lgbt .service__text::after{
    width:111%;
    height:250px;
    top:-60%;
    left:-38%;
    z-index:-1;
  }

  .service__media .service__text::after{
    width:111%;
    height:250px;
    top:-60%;
    left:28%;
    z-index:-1;
  }

  .service__space{
    width:28%;
  }

  .footer_container_sns__follow {
    margin-left: 10px;
  }
}

/* フッターレスポンシブ */
@media screen and (max-width: 800px) {
  .footer_container {
    overflow-x: hidden;
    scroll-margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c2e5a;
    width: 100vw;
    height: 218px;
  }

  .footer_container_nav {
    font-size: 12px;
  }

  .footer_container_nav li {
    margin: 0 40px 20px 0px;
    list-style: none;
  }

  .footer_container_nav li:last-child {
    margin: 0 76px 0px 0px;
    list-style: none;
  }

  .footer_container_nav li::before {
    border-top: 1px solid;
    content: "";
    width: 12px; /* 線の長さ */
    color: #fff;
    margin-right: 6px;
  }

  .footer_container_nav a {
    text-decoration: none;
    color: #fff;
  }

  .footer_container_sns__txt,
  .footer_container_sns__txt .arrow,
  .footer_container_sns__logo {
    display: none;
  }
  .footer_container_sns__follow__icon img {
    width: auto;
    height: 42px;
    display: inline-block;
    margin: 25px 15px 0 15px;
  }
  .footer_container_sns__follow {
    color: #fff;
    font-size: 13px;
  }

  .footer_container_sns__follow__icon img {
    width: auto;
    height: 42px;
    display: inline-block;
    margin: 25px 15px 0 15px;
  }

  .footer_container_sns__logo_responsive img {
    text-align: center;
    width: 80px;
    height: 80px;
    border: 3px solid #fff;
    border-radius: 50%;
  }

  .footer_container_sns__logo_responsive {
    background-color: #0c2e5a;
    text-align: center;
    padding: 0px 0 30px 0;
  }

  .footer_container_copy {
    color: #fff;
    font-size: 12px;
    text-align: center;
    background-color: #0c2e5a;
    padding: 0px 0 30px 0;
  }
}
