@media screen and (max-width: 896px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .price {
    margin-bottom: 0;
  }
  .price__table {
    border: 0;
    width: 100%;
  }

  .price__table th {
    display: block;
    border-right: none;
  }

  .price__table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .price__table tr {
    display: block;
    margin-bottom: 0.625em;
  }
  .price__table td {
    border-bottom: 1px solid #bbb;
    display: block;
    font-size: 0.8em;
    text-align: right;
    position: relative;
    padding: 0.625em 0.625em 0.625em 4em;
  }
  .price__table td::before {
    font-weight: bold;
    position: absolute;
    left: 10px;
    color: #0c2e5a;
  }
  .price__table td:last-child {
    border-bottom: 0;
  }
  table.price__table tbody th {
    color: #fff;
    background: linear-gradient(135deg, #00aeff, #0c2e5a);
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}

/* ヘッダーナビ　レスポンシブ用 */
@media screen and (max-width: 800px) {
  header .header_container {
    position: relative;
    height: 50px;
  }

  .header_container__logo img {
    width: 110px;
    margin: 0px 30px;
  }

  .navbtn {
    position: fixed;
    z-index: 10;
    justify-content: center;
    display: flex;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #0c2e5a;
    border: none;
  }

  .navbtn i {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    transition: transform 0.5s, opacity 0.5s;
  }

  .navbtn i:nth-child(1) {
    top: 10px;
  }

  .navbtn i:nth-child(2) {
    top: -10px;
    bottom: 0;
    margin: auto;
  }

  .navbtn i:nth-child(3) {
    bottom: 20px;
  }

  .navbtn_txt_menu {
    position: absolute;
    color: #fff;
    font-size: 10px;
    bottom: 5px;
  }

  .navbtn_txt_close {
    color: transparent;
  }

  .navbtn.active i:nth-child(1) {
    transform: translateY(9px) rotate(-45deg);
  }

  .navbtn.active i:nth-child(2) {
    opacity: 0;
  }

  .navbtn.active i:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
  }

  .navbtn.active {
    background-color: #fff;
  }

  .navbtn.active i {
    background-color: #0c2e5a;
  }

  .navbtn.active .navbtn_txt_close {
    position: absolute;
    color: #0c2e5a;
    font-size: 10px;
    bottom: 5px;
  }

  .header_container__nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
  }

  .header_container__nav.active {
    right: 0px;
  }

  .header_container__nav {
    position: fixed;
    top: 0px;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #0c2e5a;
    display: inline-block;
    text-align: center;
    transform: translateX(100%);
    transition: all 0.6s;
    width: 100%;
  }

  .header_container__nav a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }

  .header_container__nav li:first-child {
    padding: 80px 0px 0px 0px;
  }

  #menu-item-36 {
    margin: 20px 0px 0px 0px;
  }

  .header_container__nav li:nth-child(n + 2) {
    padding: 30px 0px 0px 0px;
  }

  #menu-item-19 span.material-icons-outlined,
  #menu-item-20 span.material-icons-outlined,
  #menu-item-22 span.material-icons-outlined,
  #menu-item-25 span.material-icons-outlined,
  #menu-item-21 span.material-icons-outlined {
    vertical-align: middle;
    margin-right: 30px;
    font-size: 40px;
  }

  .header_container_sns__follow__icon img {
    width: auto;
    height: 50px;
    display: inline-block;
    margin: 50px 25px 50px 25px;
  }

  #menu-item-36 a {
    font-size: 15px;
    padding: 10px;
    border: 1px solid #fff;
  }

  #menu-item-36 a:hover {
    background-color: #fff;
    color: #0c2e5a;
  }

  /* このクラスを、jQueryで付与・削除する */
  .header_container__nav.active {
    transform: translateX(0%);
  }
}
/* 
.header_container__nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
}

.header_container__nav.open {
  right: 0px;
}
*/
