.container {
	width: 80%;
	margin: 0 auto;
}

.special-field {
	border: 2px solid #0C2E5A;
	line-height: 2rem;
	height: 2rem;
	background-color: #effaff;
}

.special-textarea {
	border: 2px solid #0C2E5A;
	line-height: 2rem;
	font-size: 1.2rem;
	width: 600px;
	height: 250px;
	background-color: #effaff;
}

.wpcf7-submit {
	margin-top: 30px;
	margin-bottom: 50px;
	display: block;
	line-height: 1.2rem;
	width: 100%;
	max-width: 200px;
	padding: 10px;
	cursor: pointer;
  background: linear-gradient(135deg, #00aeff, #0C2E5A);
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
}

.contact-submit {
	display: flex;
	justify-content: center;
}

.con_pri {
	max-width: 650px;
	margin: 30px auto;
}

.con_pri .box_pri {
	height: 300px;
	overflow-y: scroll;
	border: 1px solid #cdcdcd;
	background-color: #f7f7f7;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px 50px;
}

.privacy_p1 h3 {
	font-size: 22px;
}

.privacy_p1 h4, .privacy_p2 h4{
	font-size: 18px;
	line-height: 1.3rem;
	font-weight: normal;
	margin: 10px 0;
	border-bottom: #0C2E5A 3px dotted;
	padding-bottom: 5px;
}

.privacy_p1 h4::before, .privacy_p2 h4::before{
	content: '■';
	color: #0C2E5A;
	margin-right: 15px;
}

.privacy_p1 {
	line-height: 1.3rem;
}

.privacy_p1 h3{
	font-size: 22px;
}

.privacy_p1 h4, .privacy_p2 h4 {
	margin-top: 20px;
	padding-bottom: 5px;
	font-size: 18px;
	font-weight: normal;
	border-bottom: 3px #0C2E5A dotted;
}

.privacy_p1 h4::before, .privacy_p2 h4::before {
	content: '■';
	color: #0C2E5A;
}

.privacy_p2 {
	line-height: 1.3rem;
}

.haveto{
	font-size:7px;
	padding:5px;
	background:#ffa600;
	color:#fff;
	border-radius:2px;
	margin-right:5px;
	position:relative;
	bottom:1px;
}

.main-required {
	width: 293px;
	line-height: 2rem;
	height: 2rem;
}