* {
	box-sizing: border-box;
}

:focus {
	outline: none;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.special-field {
	border: 2px solid #0C2E5A;
	line-height: 2rem;
	height: 2rem;
	background-color: #effaff;
}

.special-textarea {
	border: 2px solid #0C2E5A;
	line-height: 2rem;
	font-size: 1.2rem;
	width: 600px;
	height: 250px;
	background-color: #effaff;
}

.wpcf7-submit {
	margin-top: 30px;
	margin-bottom: 50px;
	display: block;
	line-height: 1.2rem;
	width: 100%;
	max-width: 200px;
	padding: 10px;
	cursor: pointer;
  background: linear-gradient(135deg, #00aeff, #0C2E5A);
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
}

.contact-submit {
	display: flex;
	justify-content: center;
}

.con_pri {
	max-width: 650px;
	margin: 30px auto;
}

.con_pri .box_pri {
	height: 300px;
	overflow-y: scroll;
	border: 1px solid #cdcdcd;
	background-color: #f7f7f7;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px 50px;
}

.privacy_p1 h3 {
	font-size: 22px;
}

.privacy_p1 h4, .privacy_p2 h4{
	font-size: 18px;
	line-height: 1.3rem;
	font-weight: normal;
	margin: 10px 0;
	border-bottom: #0C2E5A 3px dotted;
	padding-bottom: 5px;
}

.privacy_p1 h4::before, .privacy_p2 h4::before{
	content: '■';
	color: #0C2E5A;
	margin-right: 15px;
}

.privacy_p1 {
	line-height: 1.3rem;
}

.privacy_p1 h3{
	font-size: 22px;
}

.privacy_p1 h4, .privacy_p2 h4 {
	margin-top: 20px;
	padding-bottom: 5px;
	font-size: 18px;
	font-weight: normal;
	border-bottom: 3px #0C2E5A dotted;
}

.privacy_p1 h4::before, .privacy_p2 h4::before {
	content: '■';
	color: #0C2E5A;
}

.privacy_p2 {
	line-height: 1.3rem;
}

.haveto{
	font-size:7px;
	padding:5px;
	background:rgb(254, 183, 24);
	color:#fff;
	border-radius:2px;
	margin-right:5px;
	position:relative;
	bottom:1px;
}

.main-required {
	width: 293px;
	line-height: 2rem;
	height: 2rem;
}

.text--justify {
	text-align: justify;
}

.text--center {
	text-align: center;
}

.d-flex {
	display: flex;
}

.about__cont h1 {
	font-size: 24px;
}

.feature__text h2 {
	font-size: 18px;
}

.feature__text p, .intro__text p {
	line-height: 1.2;
}

.panel__feat {
	padding: .75em 1.5em .75em 3em !important;
	font-size: 16px;
	position: relative;
	background-color: #0C2E5A;
	width: calc(100% - 4em) !important;
	max-width: 642px !important;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #fff;
	line-height: 1.5;
	margin-bottom: -1.5em;
	border-radius: 1.5em;
	margin-top: 3em;
	z-index: 2;
}

.panel__feat span {
	position: absolute;
	left: .25em;
	top: 50%;
	margin-top: -1.25em;
	background-color: #fff;
	color: #0C2E5A;
	line-height: 2.5;
	width: 2.5em;
	height: 2.5em;
	border-radius: 2.5em;
}

.feature__text--in {
	padding-top: 3.5em;
	padding-bottom: 2em;
}

.panel {
	box-shadow: 0 0 10px rgb(4 4 41 / 20%);
	position: relative;
	margin-bottom: 3em;
	background-color: #fff;
	padding: 2.5em 1.5em 1em;
}

.intro__table th, .intro__table td {
	border: 1px solid #bbb;
	padding: 10px 15px;
	line-height: 2;
}

table {
	width: 80%;
	margin: 0 auto;
}

.page__header {
	margin: 70px 0;
}

.upper--table {
	font-size: 42px;
	line-height: 1.25;
	text-align: center;
	margin: 0 0 10px 0;
	font-family: "Hiragino Sans", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
	font-weight: 100;
}

.contact--to {
	margin-top: 100px;
	text-align: center;
}

.price {
	margin-bottom: 100px;
}

.price__table {
	font-family: "Open Sans", sans-serif;
	line-height: 1.25;
	border-collapse: collapse;
	margin: 0 auto;
	padding: 0;
	width: 650px;
	table-layout: fixed;
}

table thead tr {
	background-color: #0C2E5A;
	color: #fff;
}

table.price__table tr {
	padding: .35em;
	border-bottom: 2px solid #fff;
}

table.price__table th,
table.price__table td {
	padding: 1em 10px 1em 1em;
	border-right: 2px solid #fff;
}

table.price__table tbody th {
	background-color: #6886ac;
	color: #fff;
}

table.price__table tbody td {
	background-color: #c0d4ee;
	text-align: center;
}

ul {
	display: flex;
	margin: 39px -18px 16px;
}

.work__list {
	list-style: none;
	flex: 1;
	margin: 0 20px;
}

.worklist__link {
	display: block;
}

.work__figure {
	position: relative;
	content: '';
	display: block;
	padding-top: 73.24%;
}

.work__figure > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}

.work__list--innter {
	letter-spacing: 1px;
	padding: 25px 18px 18px;
}

.work__list a {
	text-decoration: none;
	color: #333;
}