body {
  font-family: “Hiragino Sans”, “ヒラギノ角ゴ ProN”, “Hiragino Kaku Gothic ProN”,
    “游ゴシック“, YuGothic, “メイリオ“, Meiryo, sans-serif;
}

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.special-field {
  border: 2px solid #0c2e5a;
  line-height: 2rem;
  height: 2rem;
  background-color: #effaff;
}

.special-textarea {
  border: 2px solid #0c2e5a;
  line-height: 2rem;
  font-size: 1.2rem;
  width: 600px;
  height: 250px;
  background-color: #effaff;
}

.wpcf7-submit {
  margin-top: 30px;
  margin-bottom: 50px;
  display: block;
  line-height: 1.2rem;
  width: 100%;
  max-width: 200px;
  padding: 10px;
  cursor: pointer;
  background: linear-gradient(135deg, #00aeff, #0c2e5a);
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
}

.contact-submit {
  display: flex;
  justify-content: center;
}

.con_pri {
  max-width: 650px;
  margin: 30px auto;
}

.con_pri .box_pri {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #cdcdcd;
  background-color: #f7f7f7;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 50px;
}

.privacy_p1 h3 {
  font-size: 22px;
}

.privacy_p1 h4,
.privacy_p2 h4 {
  font-size: 18px;
  line-height: 1.3rem;
  font-weight: normal;
  margin: 10px 0;
  border-bottom: #0c2e5a 3px dotted;
  padding-bottom: 5px;
}

.privacy_p1 h4::before,
.privacy_p2 h4::before {
  content: "■";
  color: #0c2e5a;
  margin-right: 15px;
}

.privacy_p1 {
  line-height: 1.3rem;
}

.privacy_p1 h3 {
  font-size: 22px;
}

.privacy_p1 h4,
.privacy_p2 h4 {
  margin-top: 20px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: normal;
  border-bottom: 3px #0c2e5a dotted;
}

.privacy_p1 h4::before,
.privacy_p2 h4::before {
  content: "■";
  color: #0c2e5a;
}

.privacy_p2 {
  line-height: 1.3rem;
}

.haveto {
  font-size: 7px;
  padding: 5px;
  background: rgb(254, 183, 24);
  color: #fff;
  border-radius: 2px;
  margin-right: 5px;
  position: relative;
  bottom: 1px;
}

.main-required {
  width: 293px;
  line-height: 2rem;
  height: 2rem;
}

.text--justify {
  text-align: justify;
}

.text--center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.about__cont h1,
.about__h1 {
  font-size: 24px;
}

.about__h1 {
  margin-bottom: 40px;
}

.feature__text h2 {
  font-size: 18px;
}

.feature__text p,
.intro__text p {
  line-height: 1.5;
}

.panel__feat {
  padding: 0.75em 1.5em 0.75em 3em !important;
  font-size: 16px;
  position: relative;
  background: linear-gradient(135deg, #00aeff, #0c2e5a);
  width: calc(100% - 4em) !important;
  max-width: 642px !important;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
  line-height: 1.5;
  margin-bottom: -1.5em;
  border-radius: 1.5em;
  margin-top: 3em;
  z-index: 2;
}

.panel__feat span {
  position: absolute;
  left: 0.25em;
  top: 50%;
  margin-top: -1.25em;
  background-color: #fff;
  color: #0c2e5a;
  line-height: 2.5;
  width: 2.5em;
  height: 2.5em;
  border-radius: 2.5em;
}

.feature__text--in {
  padding-top: 3.5em;
  padding-bottom: 2em;
}

.panel {
  box-shadow: 0 0 10px rgb(4 4 41 / 20%);
  position: relative;
  margin-bottom: 3em;
  background-color: #fff;
  padding: 2.5em 7em 1em;
}

.panel img {
  width: 100%;
}

.intro__table th,
.intro__table td {
  border: 1px solid #bbb;
  padding: 10px 15px;
  line-height: 2;
}

.intro__table {
  margin-bottom: 80px;
}

table {
  width: 80%;
  margin: 0 auto;
}

.page__header {
  margin: 70px 0;
}

.upper--table {
  font-size: 42px;
  line-height: 1.25;
  text-align: center;
  margin: 0 0 10px 0;
  font-family: "Hiragino Sans", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN",
    "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
  font-weight: 100;
}

.contact--to {
  margin-top: 100px;
  text-align: center;
}

.price {
  margin-bottom: 100px;
}

.price__table {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 650px;
  table-layout: fixed;
}

table thead tr {
  background: linear-gradient(135deg, #00aeff, #0c2e5a);
  color: #fff;
}

table.price__table tr {
  padding: 0.35em;
  border-bottom: 2px solid #fff;
}

table.price__table th,
table.price__table td {
  padding: 1em 10px 1em 1em;
  border-right: 2px solid #fff;
}

table.price__table tbody th {
  background-color: #6886ac;
  background: linear-gradient(135deg, #b6d0f4, #6886ac);
  color: #fff;
}

table.price__table tbody td {
  background-color: #c0d4ee;
  text-align: center;
}

.work__list--ul {
  display: flex;
  margin: 39px -18px 16px;
}

.work__list {
  list-style: none;
  flex: 1;
  margin: 0 20px;
}

.worklist__link {
  display: block;
}

.work__figure {
  position: relative;
  content: "";
  display: block;
  padding-top: 73.24%;
  border: #0c2e5a 1px solid;
}

.work__figure > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 240px;
  vertical-align: baseline;
}

.work__list--innter {
  letter-spacing: 1px;
  padding: 25px 18px 18px;
}

.work__list a {
  text-decoration: none;
  color: #333;
}

.site--title {
  font-size: 16px;
  display: inline-block;
  color: #333;
  font-family: "Noto Sans JP Bold";
  font-weight: bold;
}

.service--concept {
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
}

.service--contact {
  justify-content: center;
  display: flex;
}

/* ヘッダー */

.header_container__nav {
  margin-right: 80px;
}

header .header_container {
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

header .header_container div:first-child {
  margin-right: auto;
}

.header_container__logo img {
  width: 140px;
  margin: 0px 80px;
}

@media screen and (min-width: 800px) {
  .header_container__nav ul {
    display: inline-flex;
    align-items: center;
    height: 80px;
    font-size: 15px;
  }

  .header_container__nav li {
    margin: 0 0 0 60px;
  }

  .header_container__nav #menu-item-21 {
    margin: 0 80px 0 60px;
  }

  .header_container__nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  /* ヘッダーメニュー　ホバー設定 */

  .header_container__nav #menu-item-19 a,
  .header_container__nav #menu-item-20 a,
  .header_container__nav #menu-item-22 a,
  .header_container__nav #menu-item-25 a {
    position: relative;
  }

  #menu-item-19 a::after,
  #menu-item-20 a::after,
  #menu-item-22 a::after,
  #menu-item-25 a::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    width: 100%;
    height: 3px;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.3s;
  }

  #menu-item-19 a::after {
    background: #068dda;
  }

  #menu-item-20 a::after {
    background: #f85245;
  }

  #menu-item-22 a::after {
    background: #ffe621;
  }

  #menu-item-25 a::after {
    background: #45b035;
  }

  #menu-item-19 a:hover::after,
  #menu-item-20 a:hover::after,
  #menu-item-22 a:hover::after,
  #menu-item-25 a:hover::after {
    transform: scale(1, 1);
  }

  /* ヘッダーメニュー　CONTACT設定 */
  #menu-item-21 a p,
  #menu-item-24 a p {
    color: #fff;
    background-color: #feb718;
    width: 190px;
    height: 40px;
    line-height: 40px;
    font-weight: normal;
    font-size: 20px !important;
    text-align: center;
  }

  .material-icons-outlined {
    font-size: 24px !important;
    line-height: 40px;
    padding-right: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
  }

  #menu-item-21 a p:hover,
  #menu-item-24 a p:hover {
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
  }

  #menu-item-19 span.material-icons-outlined,
  #menu-item-20 span.material-icons-outlined,
  #menu-item-22 span.material-icons-outlined,
  #menu-item-25 span.material-icons-outlined {
    display: none;
  }

  #menu-item-21 .material-icons-outlined {
    vertical-align: middle;
  }

  #menu-item-36 {
    display: none;
  }

  /* レスポンシブ用メニューボタン */
  .navbtn_menu,
  .header_container_sns__follow__icon img,
  .navbtn_txt_menu,
  .navbtn_txt_close {
    display: none;
  }
}

/* フッター */
.footer_container {
  background-color: #0c2e5a;
  width: 100vw;
}

@media screen and (min-width: 800px) {
  .footer_container_nav {
    text-align: center;
    padding: 86px 0 0 0;
  }

  .footer_container_nav ul {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
  }

  /* SNS部分 */
  .footer_container_sns {
    font-size: 13px;
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 56px 0 0 0;
  }

  .footer_container_sns__txt {
    display: inline-flex;
  }

  .footer_container_sns__txt .arrow {
    width: 40px;
    height: 8px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: skew(45deg);
  }
  .footer_container_sns__follow__icon img {
    width: auto;
    height: 42px;
    display: inline-block;
    margin: 25px 15px 0 15px;
  }

  .footer_container_sns__logo img {
    width: 80px;
    height: auto;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-right: 40px;
  }

  .footer_container_sns__logo_responsive {
    display: none;
  }

  .footer_container_copy {
    color: #fff;
    font-size: 13px;
    text-align: center;
    background-color: #0c2e5a;
    padding: 56px 0 37px 0;
  }
}

.footer_container_nav li {
  margin: 0 50px 0 0;
  list-style: none;
}

.footer_container_nav li {
  display: flex;
  align-items: center;
}

.footer_container_nav li::before {
  border-top: 1px solid;
  content: "";
  width: 12px; /* 線の長さ */
  color: #fff;
  margin-right: 6px;
}

.footer_container_nav a {
  text-decoration: none;
  color: #fff;
}

/* フッターメニュー　ホバー設定 */
#menu-item-29 a:hover,
#menu-item-30 a:hover,
#menu-item-34 a:hover,
#menu-item-31 a:hover,
#menu-item-32 a:hover {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}

.footer_container_sns__follow {
  text-align: center;
  margin-left: 30px;
  display: block;
}

.footer_container_sns__follow__icon a {
  text-decoration: none;
}

/* トップ */
main {
  background: #fff;
  border: solid 1px #fff;
  color: #333;
  font-size: 15px;
}

main a {
  text-decoration: none;
}

main img {
  max-width: 100%;
  vertical-align: top;
  object-fit:cover;
}

main.container{
  max-width:1080px;
  margin:0 auto;
  padding:0 20px;
}

.main-visual {
  position: relative;
}

.main-visual__img1,
.main-visual__img2 {
  width: 100%;
  height: calc(100vh - 80px);
}

.main-visual__img1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  animation-name: slide;
  animation-duration:4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slide {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main-visual__img2{
  object-position:left;
}

.catch-copy{
  text-align:center;
  width:53%;
  position:absolute;
  top:38%;
  left:0%;
}

.catch-copy__ja{
  font-size:3.9vw;
  font-family:'Noto Sans JP', sans-serif;
  color:#0C2E5A;
  padding:33px 9.9vh 30px;
}

.catch-copy__ja .wo{
  font-size:3.6vw;
}

.catch-copy__ja__back{
  background:rgba(255,230,33,0.8);
}

.catch-copy__en{
  font-size:1.5vw;
  font-family: 'Source Sans Pro', sans-serif;
  color:#0C2E5A;
  padding:10px 14.8vw;
}

.catch-copy__en__back{
  background:rgba(255,255,255,0.8);
}

.catch-copy.fixed{
  position:fixed;
  top:34%;
  left:0;
}

.catch-copy.stop{
  position:absolute;
  top:calc(100vh + 250px);
}

.about,
.article {
  background: rgba(6, 141, 218, 0.05);
  border: solid 1px rgba(6, 141, 218, 0.05);
}

.sec-title {
  text-align: center;
  padding: 150px 0 100px;
}

.sec-title__en {
  font-size: 45px;
  font-weight: normal;
  color: #0c2e5a;
  letter-spacing: 0.2em;
}

.sec-title__ja {
  color: #6e6e6e;
  letter-spacing: 0.2em;
  padding: 20px 0 10px;
  display: inline-block;
}

.about .sec-title__ja {
  border-bottom: solid 5px #f85245;
}

.about__text {
  width:40vw;
  margin:0 20px 0 50%;
  line-height: 1.7;
}

.readmore {
  text-align: center;
  margin: 100px 0 150px;
}

.readmore__btn {
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  background: #0c2e5a;
  border: solid 1px #0c2e5a;
  border-radius: 30px;
}

.readmore__btn:hover {
  color: #0c2e5a;
  background: #fff;
}

.services{
  margin-top:360px;
  opacity: 0;
  transform: translate(0, 150px);
  transition: all 1500ms; 
  }

.services-scroll {
  opacity: 1;
  transform: translate(0, 0);
}

.service .sec-title__ja{
  border-bottom:solid 5px #FFE621;
}

.service__text{
  color:#fff;
  padding:40px;
  position:relative;
  background:rgba(12,46,90,0.9);
  width:36vw;
}

.service__top{
  display:flex;
  margin-bottom:30px;
}

.service__number{
  font-size:2vw;
  padding:16px 10px 10px 0;
  border-right:solid 2px #fff;
}

.service__title{
  padding-left:10px;
}

.service__ja{
  font-size:2vw;
  padding-top:10px;
}

.service__en,.service__body{
  font-size:1vw;
}

.service__body{
  line-height:1.7;
}

.service__web{
  margin-top:190px;
}

.service__lgbt{
  margin-bottom:150px;
}

.services{
  display:flex;
}

.services:nth-child(even){
  flex-direction:row-reverse;
}

.service__web .service__text::before{
  content:"";
  position:absolute;
  background:rgba(248,82,69,0.1);
  width:162%;
  height:145%;
  top:-21%;
  left:-52%;
  z-index:-2;
}

.service__web .service__text::after{
  content:"";
  background-image:url("img/web.png");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:right;
  position:absolute;
  width:117%;
  height:129%;
  top:-59%;
  left:-98%;
  z-index:-1;
}

.service__media .service__text::before{
  content:"";
  position:absolute;
  background:rgba(69,176,53,0.1);  width:162%;
  height:145%;
  top:-21%;
  left:-10%;
  z-index:-2;
}

.service__media .service__text::after{
  content:"";
  background-image:url("img/media.png");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:right;
  position:absolute;
  width:117%;
  height:129%;
  top:-59%;
  left:80%;
  z-index:-1;
}

.service__lgbt .service__text::before{
  content:"";
  position:absolute;
  background:rgba(255,230,33,0.1);
  width:162%;
  height:145%;
  top:-21%;
  left:-52%;
  z-index:-2;
}

.service__lgbt .service__text::after{
  content:"";
  position:absolute;
  background-image:url("img/lgbt.png");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  width:117%;
  height:129%;
  top:-59%;
  left:-98%;
  z-index:-1;
}

.article .sec-title__ja {
  border-bottom: solid 5px #45b035;
}

.article .container {
  display: flex;
  height: 120px;
  align-items: center;
}

.article__body {
  padding-left: 30px;
}

.article__left-arrow,
.article__right-arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.article__left-arrow {
  margin-right: 15px;
}

.article__right-arrow {
  margin-left: 15px;
}

.article__thumbnail img {
  width: 120px !important;
  height: 120px !important;
  border-radius: 50%;
  max-width: none;
}

.article__title {
  font-weight: bold;
  margin-bottom: 12px;
}

.article__time {
  display: flex;
}

.article__time__img {
  width: 12px;
  height: 12px;
  margin: 3px 5px 0 0;
}

.article__time__day {
  font-size: 12px;
}

.contact .sec-title__ja {
  border-bottom: solid 5px #feb718;
}

.contact .container {
  text-align: center;
}

.contact-page {
  margin: 100px auto 150px;
}

.contact__btn {
  margin:100px auto 150px;
  font-size:24px;
  font-weight:bold;
  display:inline-block;
  padding:28px 65px;
  cursor:pointer;
  text-align: center;
  position:relative;
  vertical-align: middle;
  letter-spacing: 0.1em;
  color:#fff;
  background: #0C2E5A;
  letter-spacing:0.1;
  overflow:hidden;
}

.contact__btn span{
  position:relative;
}

.contact__btn:before {
  position: absolute;
  top: 0;
  left: 30px;
  width: 150%;
  height: 500%;
  content: '';
  transition: all .5s ease-in-out;
  transform: translateX(-82%) translateY(-70%) rotate(135deg);
  background: #FFE621;
}

.contact__btn:hover:before {
  transform: translateX(-16%) translateY(-25%) rotate(135deg);
}

.contact__btn:hover{
  color:#000;
}

.contact__btn__mail{
  width:40px;
  height:40px;
  position:absolute;
  top:20px;
  left:20px;
  z-index:1;
}

.contact__btn__arrow{
  width:40px;
  position:absolute;
  top:40px;
  right:20px;
  z-index:1;
}

.contact__after{
  opacity:0;
}

.contact__btn:hover .contact__before{
  opacity:0;
}

.contact__btn:hover .contact__after{
  opacity:1;
}

.top-btn{
  width:60px;
  height:60px;
  border-radius:50%;
  background:#0C2E5A;
  box-shadow:3px 3px 1px rgba(0,0,0,0.2);
  text-align:center;
  align-items:center;
  display:block;
  position:fixed;
  bottom:20px;
  right:20px;
}


.top-btn__img{
  width:48px;
  height:48px;
}

.top-btn:hover{
  opacity:0.7;
}

/* 固定ページ */

.page--top {
  margin-top: 70px;
}

.page--content {
  line-height: 1.2;
}

.member__voice {
  background-color: #bfd8f9;
  padding: 1.5em;
  width: 80%;
  height: auto;
  margin: 0 auto 20px;
  justify-content: space-between;
  display: flex;
}

.member__voice--1st {
  margin-top: 30px;
}

.greet__pic,
.member__voice--pic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  text-align: center;
}

.member__voice--pic p {
  line-height: 2;
}

.member__voice--pic img{
  width: 100%;
  object-fit: cover;
}

.member__voice--comment {
  width: 650px;
}

.member__voice--comment p {
  line-height: 1.5;
}

.greet__top {
  display: flex;
  max-width: 1080px;
  padding: 2em;
  justify-content: space-between;
}

.greet__text p {
  max-width: 800px;
  line-height:1.5;
}

.greet__pic {
  width: 150px !important;
  height: 150px !important;
}

.greet__pic img {
  width: 100%;
}

.swiper-container {
  width: 1080px;
  height: 100%;
}

.swiper-slide {
  width: 325px;
  height: auto;
  overflow: visible;
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mainvisual {
  overflow-x: hidden;
  height: 250px;
}
